In [ ]:
#Problem - A
n=[input() for _ in range(int(input()))]
o=[f'{m} is an Even number.'if int(m[-1])%2==0 else f'{m} is an Odd number.'for m in n]
print("\n".join(o))

3
2
3
4
2 is an Even number.
3 is an Odd number.
4 is an Even number.

In [ ]:
#Problem - B
op = {'+': float.__add__,
      '-': float.__sub__,
      '*': float.__mul__,
      '/': float.__truediv__}
o=[]
for _ in range(int(input())):
  a,b,c=input()[10:].split()
  o.append(f"{op[b](float(a),float(c))}")
print("\n".join(o))

2
calculate 67 + 41
calculate 67 + 4
108.0
71.0

In [ ]:
#Problem - B
import numpy as np
op = {'+': np.add,
      '-': np.subtract,
      '*': np.multiply,
      '/': np.divide}
o=[]
for _ in range(int(input())):
  a,b,c=input()[10:].split()
  o.append(f"{op[b](np.float32(a),np.float32(c))}")
print("\n".join(o))

2
calculate 67 + 41
calculate 67 + 4
108.0
71.0

In [ ]:
#Problem - C
m,n=map(int,input().split())
a=list(map(int,input().split()))
print(*a[:n][::-1])

8 5
20 8 9 3 10 7 100 12
10 3 9 8 20

In [ ]:
#Problem - D
for _ in range(int(input())):
    n=int(input())
    print(int(n*(n+1)/2))

5
2
3
4
10
6
21
8
36
10
55

In [ ]:
#Problem - E
n=int(input())
a=list(map(int,input().split()))
for i in range(n-1):
  f=True
  for j in range(n-i-1):
    if a[j]>a[j+1]:
      a[j],a[j+1]=a[j+1],a[j]
      f=False
  if f:
    break
print(*a)

5
5 4 3 2 1
1 2 3 4 5

In [ ]:
#Problem - F
n=int(input())
a=list(zip(map(int,input().split()),map(int,input().split())))
s=0
for i in range(n):
  m=i
  for j in range(i+1,n):
    if a[j][1]>a[m][1] or (a[j][1]==a[m][1] and a[j][0]<a[m][0]):
      m=j
  if m!=i:
    a[i],a[m]=a[m],a[i]
    s+=1
print(f'Minimum swaps: {s}')
for i in range(n):
  print(f'ID: {a[i][0]} Mark: {a[i][1]}')

7
7 4 9 3 2 5 1
40 50 50 20 10 10 10
ID: 4 Mark: 50
ID: 9 Mark: 50
ID: 7 Mark: 40
ID: 3 Mark: 20
ID: 1 Mark: 10
ID: 2 Mark: 10
ID: 5 Mark: 10

In [ ]:
#Problem - G
t=[]
for i in range(int(input())):
  a,*b,c=input().split()
  t.append((a,' '.join(b),c))
t.sort(key=lambda x: (x[0], -int(x[2][:2]+x[2][3:])))
print('\n'.join(map(' '.join, t)))

8
ABCD will departure for Mymensingh at 00:30
DhumketuExpress will departure for Chittagong at 02:30
ABC will departure for Dhaka at 17:30
ABCD will departure for Chittagong at 01:00
ABC will departure for Khulna at 03:00
ABC will departure for Barisal at 03:00
ABCE will departure for Sylhet at 23:05
PadmaExpress will departure for Dhaka at 19:30
ABC will departure for Dhaka at 17:30
ABC will departure for Khulna at 03:00
ABC will departure for Barisal at 03:00
ABCD will departure for Chittagong at 01:00
ABCD will departure for Mymensingh at 00:30
ABCE will departure for Sylhet at 23:05
DhumketuExpress will departure for Chittagong at 02:30
PadmaExpress will departure for Dhaka at 19:30